html {
    box-sizing: border-box;
    margin: 0;
}

#map {
    width: 80vw;
    margin: auto;
}

.state {
    fill: #e4e4e4;
    stroke: #222;
    stroke-width: 0.8;
}

.tooltip1 {
    position: absolute;
    display: inline-block;
    text-align: left;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.tooltip2 {
    position: absolute;
    display: inline-block;
    text-align: left;
    padding: 2px;
    font: 12px sans-serif;
    background:salmon;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.scope1 {
    visibility: hidden;
    fill: lightskyblue;
    stroke: blue;
    stroke-width: .3;
    opacity: .5;
}

.scope2 {
    visibility: visible;
    fill: lightsalmon;
    stroke: red;
    stroke-width: .3;
    opacity: .5;
}