html {
    box-sizing: border-box;
    margin: 0;
}

#map {
    width: 80vw;
    margin: auto;
}

.state {
    fill: #e4e4e4;
    stroke: #fff;
    stroke-width: 1.2;
}

.tooltip1, .tooltip2,
.statetooltip1, .statetooltip2 {
    position: absolute;
    display: inline-block;
    text-align: left;
    padding: 2px;
    font: 12px sans-serif;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.tooltip1 {
    background: lightsteelblue;
}

.tooltip2 {
    background:salmon;
}

/* City data styling */

.scope1, .scope2,
.statescope1, .statescope2 {
    stroke-width: .3;
    opacity: .5;
}

.scope1 {
    fill: #41ACCC;
    stroke: #24738b;
}

.scope2 {
    fill: #998BC4;
    stroke: #57478a;
}

.statescope1 {
    fill: #7D1F02;
    stroke: #501402;
}

.statescope2 {
    fill: #90B028;
    stroke: #668012;
}

.scope1:hover, .scope2:hover,
.statescope1:hover, .statescope2:hover  {
    opacity: 1;
    stroke-width: 2;
}

